.wrapper
  .row
    .small-12.medium-4.columns.photo
      #profile
    .small-12.medium-8.columns
      .bio
        #headline
          %header
            %h1 Nick Rivadeneira
            %h5.subheader I write code for thoughtbot
        %section
          %ul.no-bullet
            %li
              %i.fa.fa-github-alt
              = link_to "Github", "http://github.com/nickrivadeneira", alt: "Github", target: "_blank"
            %li
              %i.fa.fa-twitter
              = link_to "Twitter", "http://twitter.com/imNickR", alt: "Twitter", target: "_blank"
            %li
              %i.fa.fa-linkedin
              = link_to "LinkedIn", "www.linkedin.com/in/nicholasrivadeneira", alt: "LinkedIn", target: "_blank"
